@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap");
/* Modo oscuro oscuro */
/* body{
  background-color: #3C485E;
} */


/* Modo claro */
body{
  background-color: #E7E3E4;
  margin: 0 40px ;
  padding: 0;
  color: #3c484e;
  font-family: 'Open Sans', sans-serif;
}


/* body{
  background-color: #EBECF0;
} */

