.Header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 7.5px;
  margin-bottom: 7.5px;
  border-bottom: 2px solid #774EE6;
}
.Header-checkout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  width: 30px;
  margin: 0 0 0 0.5em;
}
.Header-alert {
  color: #33b13a;
  font-size: 14px;
  margin-left: 5px;
}
.fa-cart-shopping{
  color: #774EE6;
}
