.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul{
    height: 50px;
    display: flex;
    align-items: flex-end;
    gap: 25px;
    text-align: center;
}
.car-cant-items{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-content-items p {
    margin: 0;
    font-weight: 300;
    font-size: 1.4rem;
    color: rgb(58, 53, 53);
}
.fa-whatsapp{
    font-size: 20px;
}

.fa-lock, 
.fa-magnifying-glass,
.fa-cart-shopping{
    font-size: 18px;
}